.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    margin-top: 73px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #a3a3a3;
    display: block;
    text-shadow: 0.2px #f1f1f1;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    font-weight: bold;
    background:#00aab5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
