<div class="col-md-12 col-sm-12">
  <div class="row">
    <div id="form" class="fundo col-md-6 col-sm-12"></div>
    <div class="fundo col-md-6 col-sm-12">
      <div id="texto-pedir-cartao">
        <div id="titulo">
          <span>Peça já seu Cartão</span>
        </div>
        <div id="beneficios">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <ul>
                <li><div class="quadrado pink"></div>Desenho customizável</li>
                <li>recarregável</li>
                <li>internacional</li>
                <li>bandeira Elo</li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12">
              <ul>
                <li>teste</li>
                <li>teste</li>
                <li>teste</li>
                <li>teste</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>