img{
    width: 100%;
}
.fundo{
    background: #3498db;
}
#form{
    
}
#texto-pedir-cartao{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 41px;
    font-size: 35px;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}
.col-md-12{
    padding-right: 0px;
    padding-left: 0px;
}
.col-sm-12{
    padding-right: 0px;
    padding-left: 0px;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
#beneficios{
    font-size: 25px;
}
.pink{
    color: pink;
}