<div class="col-md-12 col-sm-12">
  <div class="row">
    <div id="form" class="fundo col-md-6 col-sm-12">
      <div align="center">
        <div align="left" id="form-container" class="col-md-10 col-sm-12">
          <mat-card>
            <form #soliciCard="ngForm" id="form-solicitar-cartao">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <input [(ngModel)]="dadosPessoais.nome" name="campo-nome" matInput (keydown)="apenasCaracteres($event)" maxlength="100" placeholder="Nome Completo"
                      required>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field id="cpf" class="full-width">
                    <input [(ngModel)]="dadosPessoais.cpf" name="campo-cpf" (focusout)="validarCpf()" (keypress)="apenasNumeros($event);mascaraCpf($event)"
                      minlength="14" maxlength="14" matInput placeholder="CPF" required>
                  </mat-form-field>
                  <div class="invalido" *ngIf="!estadoCpf">
                    <span>CPF inválido.</span><img class="icone-invalido" src="assets/icones/errado.png">
                  </div>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="full-width">
                    <input [(ngModel)]="dadosPessoais.email" #email="ngModel" name="campo-email" (focusout)="validarEmail()" matInput placeholder="E-mail"
                      maxlength="254" required>
                  </mat-form-field>
                </div>
                <div *ngIf="!focusEmail" style="margin-left: 16px;" class="invalido">
                  <span>E-mail inválido.</span><img class="icone-invalido" src="assets/icones/errado.png">
                </div>
              </div>

              <div align="center"><button (click)="solicitarCartao()" [disabled]="soliciCard.invalid || !estadoCpf || !focusEmail" id="btn-solicitar"
                  mat-raised-button>Prosseguir</button></div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="fundo col-md-6 col-sm-12">
      <div id="texto-pedir-cartao">
        <div class="row">
          <div class="col-md-12" id="titulo">
            <span>Peça já seu Cartão</span>
          </div>
          <div class="col-md-12" id="beneficios">
            <img src="assets/cartoes/cartao-sem-nome.png">
            <div class="col-md-6" id="nome-cartao">
              <span>{{nomeCartao}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
