#cartao-solicitado{
    height: 500px;
}
.cor-texto{
    padding-top: 100px;
    color:white;
    text-shadow: 0 0 9px #343a40;
}
#texto-informativo{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
img{
    height: 40px;
}
#div-btn{
    margin-top: 30px;
}