<div id="elementos">
  <mat-card>
    <div align="center">
      <h4>Botões</h4>
      <button class="btn default" mat-raised-button>default</button>&nbsp;
      <button class="btn submit" mat-raised-button>submit</button>&nbsp;
      <button class="btn cancel" mat-raised-button>cancel</button>&nbsp;
      <button class="btn default" disabled mat-raised-button>disabled</button>
    </div>
    <div>
      <div class="codigo-container" align="center">
        <span>&lt;<span class="b">button</span>&nbsp;<span class="c">class</span>=<span class="codigo">"btn default"</span>&nbsp;<span class="c">mat-raised-button</span> &gt;default &lt;/<span class="b">button</span>&gt; </span><br/>
        <span>&lt;<span class="b">button</span>&nbsp;<span class="c">class</span>=<span class="codigo">"btn submit"</span>&nbsp;<span class="c">mat-raised-button</span> &gt;submit &lt;/<span class="b">button</span>&gt; </span><br/>
        <span>&lt;<span class="b">button</span>&nbsp;<span class="c">class</span>=<span class="codigo">"btn cancel"</span>&nbsp;<span class="c">mat-raised-button</span> &gt;cancel &lt;/<span class="b">button</span>&gt; </span><br/>
        <span>&lt;<span class="b">button</span>&nbsp;<span class="c">class</span>=<span class="codigo">"btn default"</span>&nbsp; <span class="c">disabled</span>&nbsp;<span class="c">mat-raised-button</span> &gt;disabled &lt;/<span class="b">button</span>&gt; </span><br/>
      </div>
    </div>
  </mat-card>
</div>