#elementos{
    padding-top: 130px;
    margin-bottom: 100px;
}
.codigo-container{
    margin-top:20px;
    background: rgba(170, 169, 169, 0.53);
}
.b{
    color: #0f58df;
}
.c{
    color: #0f58df;
}
.codigo{
    color: #da621e;
}