<div class="footer cor-background">
  <footer class="page-footer font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">

          <div><img src="assets/logos/logo-cateno-texto.png"></div>
          <p>CATENO</p>
          <p>CNPJ: 000.000.000-000</p>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">

          <h6>Quem Somos</h6>

          <ul class="list-unstyled">
            <li>
              <a routerLink="cursos">Apresentação</a>
            </li>
            <li>
              <a routerLink="eventos">Missão,Visão e Valores</a>
            </li>
            <li>
              <a routerLink="sobre">Nossa História</a>
            </li>
          </ul>

        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h6>Soluções</h6>

          <ul class="list-unstyled">
            <li>
              <a routerLink="sobre">Emissão de meios de pagamento pré-pagos</a>
            </li>
            <li>
              <a routerLink="sobre">Inteligência em autorização e fraude</a>
            </li>
            <li>
              <a routerLink="sobre">Gestão estratégica de meios de pagamento</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 - Cateno. Todos os direitos reservados
    </div>
  </footer>
</div>