#cateno-cadastro{
    padding-top: 100px;
}
#group{
    margin-top: 9px;
}
.mat-button-toggle-checked{
    background: linear-gradient(to left,#00AAB5,#b3d137);
    color: white;
}

@media only screen and(max-width: 1350px){
    .toogle-responsivo {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.row{
     margin-right: 0px; 
    margin-left: 0px;
}