<div id="linha"></div>
<div id="cartoes" class="row">
  <div class="col-md-6 col-sm-12">
    <div class="cartao">
      <div><img src="assets/cartoes/cartao-cateno.jpg"></div>
      <div class="informacao-cartao">
       <div class="informacao-cartao-texto">
          <span>REPOLHO</span>
       </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="cartao">
        <div><img src="assets/cartoes/cartao-bella.jpg"></div>
      <div class="informacao-cartao">
          <div class="informacao-cartao-texto">
              <span>BATATA</span>
           </div>
      </div>
    </div>
  </div>
</div>