<div id="linha"></div>
<div id="cartoes" class="row">
  <div class="col-md-6 col-sm-12">
    <div class="cartao">
      <div><img src="assets/cartoes/cartao-cateno.jpg"></div>
      <div class="informacao-cartao">
       <div class="informacao-cartao-texto">
          <span>O cartão pré-pago emitido pela Cateno tem seu desenho customizável, é recarregável, internacional e tem a bandeira Elo.</span>
       </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="cartao">
        <div><img src="assets/logos/logo-cateno-texto.png"></div>
      <div class="informacao-cartao">
          <div class="informacao-cartao-texto">
              <span>Os meios de pagamento pré-pagos são uma opção prática e eficiente para a gestão de pagamentos e o controle de despesas de negócios de qualquer porte.</span>
           </div>
      </div>
    </div>
  </div>
</div>