#cartoes{
    margin-top:10px;
}

.cartao {
    position:relative;
    float: right;
    width: 70%;
    height: 200px;
    margin-bottom: 5px;
}
.informacao-cartao{
    position:absolute;
    height: 100px;
    width: 250px;
    background: rgba(163, 206, 34, 0.671);
    margin-top: -157px;
    margin-left: -50px;
    text-align: center;
    transition: background 1s;
    cursor: pointer;
}
.informacao-cartao:hover{
    background: rgba(255, 255, 255, 0.671);
}
/*  imagens */
img{
    width: 100%;
    height: 200px;
}

#linha{
    margin-left: 40px;
    margin-top: 10px;
}
.informacao-cartao-texto{
    margin-top: 11px;
    color: #212529;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Comic Sans MS", cursive, sans-serif;
}