<div class="cor-background">
  <div id="cartoes" class="row col-md-12">
    <div id="iphone" class="col-md-6 col-sm-12">
      <div id="iphone-imagem" align="center">
        <img src="assets/iphone.png">
      </div>
    </div>
    <div id="texto" class="col-md-6 col-sm-12">
      <div id="row-icons" class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <img class="icons" src="assets/icones/card-1.png">
            </div>
            <div class="col-md-9">
              <div class="texto-icons">
                <mat-card>
                  <h5 id="card-texto"></h5>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-13">
          <div class="row">
            <div class="col-md-3">
              <img class="icons" src="assets/icones/cadeado.png">
            </div>
            <div class="col-md-9">
              <div class="texto-icons">
                <mat-card>
                  <h5 id="cadeado-texto"></h5>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <img class="icons" src="assets/icones/pagamento.png">
            </div>
            <div class="col-md-9">
              <div class="texto-icons">
                <mat-card>
                  <h5 id="pagamento-texto"></h5>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>