#cartoes{
    margin-top:10px;
}

.cartao {
    position:relative;
    float: right;
    width: 70%;
    height: 200px;
    margin-bottom: 5px;
}
.informacao-cartao{
    position:absolute;
    height: 140px;
    width: 250px;
    background-image: url('../../../assets/background.jpg');
    background-size: cover;
    margin-top: -157px;
    margin-left: -155px;
    text-align: center;
    transition: all 1s;
    cursor: pointer;
}
.informacao-cartao:hover > .informacao-cartao-texto{
   color: #343a40;
}
/*  imagens */
img{
    width: 100%;
    height: 200px;
}

#linha{
    margin-left: 40px;
    margin-top: 10px;
}
.informacao-cartao-texto{
    margin-top: 2px;
    color: #f8f9fa;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 0 5px #343a40;
    transition: all 1s;
    text-transform: uppercase;
    font-family: Andale Mono, monospace; 
}

