<div id="tipo-grafico" align="center">
  <mat-form-field>
    <mat-select placeholder="Selecione o tipo do gráfico" [(ngModel)]="tipoGrafico" id="tipografico_alterar" name="tipoGrafico">
      <mat-option *ngFor="let tipos of opcoesGrafico" (onSelectionChange)="alterarGrafico()" [value]="tipos.value">
        {{ tipos.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="controlaGrafico">
  <p-chart [type]="tipoGrafico" [data]="data" width="90w" height="50vh"></p-chart>
</div>