/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    margin:0;
    padding:0;
    list-style:none;
    vertical-align:baseline;
}
.quadrado{
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 9px;
    margin-right: 4px;
}
.full-width{
    width: 100%;
}