$cor-cateno-verde: #A4CE22;

mat-toolbar{
    background: #ffffff;
    color: #343434;
    font-weight: bold;
    position: fixed;
    z-index: 10000;
}
mat-toolbar-row{
    height: 70px;
}
.toolbar-container{
    height: 90px;
}
img{
    max-width: 130px;
    height: auto;
}
#logo-cateno{
    margin-left: 30px;
    margin-top: 15px;
}
li{
    float: left;
    padding-left: 20px;
    cursor: pointer;
    height: 100%;
}
.menu-itens{
    position: relative;
    padding: 7px;
    display: inline-block;
}
#menu{
    margin-top: 40px;
    margin-left: 25%;
    font-size: 17px;
    color:#545454;
    
}

.menu-itens:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
.menu-itens:hover:before{
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%{
        width: 0;
        height: 0;
        border-top-color: $cor-cateno-verde;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: $cor-cateno-verde;
        border-right-color: $cor-cateno-verde;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: $cor-cateno-verde;
        border-right-color: $cor-cateno-verde;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.menu-itens:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
.menu-itens:hover:after{
    animation: animate2 1s linear forwards;
}
@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $cor-cateno-verde;;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $cor-cateno-verde;
        border-left-color: $cor-cateno-verde;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $cor-cateno-verde;
        border-left-color: $cor-cateno-verde;
    }
}
@media only screen and (max-width: 999px) {
    ul{
        display: none;
    }
    #botao-menu {
        display: block !important;
    }
    #menu-hide{
        height: 2px;
    }
}
@media only screen and (min-width: 1000px) {
    #menu-hide{
        background: white !important;
        max-height: 2px;
    }
    #menus-responsividade{
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
   #menus-responsivos{
    height: 50px;
   }
   #espacamento{
    height: 25px !important;
   }
   .icone{
    font-size: 33px !important;
    }
    
    .menu-responsivo-texto{
        margin-top: 17px;
    }
}
#botao-menu{
    display: none;
    float: right;
    margin-top: 42px;
    color:#6f6f6f;
    cursor: pointer;
    transition: 1s;
}
#botao-menu:hover{
    color: $cor-cateno-verde;
}
#menu-hide{
    background: white;
    height: 2px;
    transition: height 5s ease-out;
}
#menus-responsivos{
    background: linear-gradient(217deg, rgba(163, 206, 34, 0.671), #36abfab4  60%);
}
#menus-responsividade{
    display: none;    
}
#alinhamento-menus{
    text-align: center;
    height: 100px;
}
#espacamento{
    height: 55px;   
}
.icone{
    color: white;
    font-size: 50px;
}
.menu-responsivo-texto{
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}