$cor-cateno-azul: #00aab5;
$cor-padrao-cinza:#77787b;
mat-toolbar{
    background: #ffffff;
    color: $cor-padrao-cinza;
    font-weight: bold;
    position: fixed;
    z-index: 10000;
    height: 73px;
    box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.075);
}
mat-toolbar-row{
    height: 70px;
}
img{
    max-width: 130px;
    height: auto;
    cursor: pointer;
}
#logo-cateno{
    margin-left: 30px;
    margin-top: 2px;
}
li{
    float: left;
    padding-left: 20px;
    cursor: pointer;
    height: 100%;
}
.menu-itens{
    position: relative;
    padding: 7px;
    display: inline-block;
}
#menu{
    margin-top: 23px;
    margin-left: 25%;
    font-size: 17px;
    color: $cor-padrao-cinza;
    
}

.menu-itens:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
.menu-itens:hover:before{
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0%{
        width: 0;
        height: 0;
        border-top-color: $cor-cateno-azul;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: $cor-cateno-azul;
        border-right-color: $cor-cateno-azul;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: $cor-cateno-azul;
        border-right-color: $cor-cateno-azul;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.menu-itens:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
.menu-itens:hover:after{
    animation: animate2 1s linear forwards;
}
@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $cor-cateno-azul;;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $cor-cateno-azul;
        border-left-color: $cor-cateno-azul;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $cor-cateno-azul;
        border-left-color: $cor-cateno-azul;
    }
}
@media only screen and (max-width: 999px) {
    ul{
        display: none;
    }
    #botao-menu {
        display: block !important;
    }
    #menu-hide{
        height: 2px;
    }
}
@media only screen and (min-width: 1000px) {
    #menu-hide{
        background: transparent !important;
        max-height: 2px;
    }
    #menus-responsividade{
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
   #menus-responsivos{
    height: 50px;
   }
   #espacamento{
    height: 25px !important;
   }
   .icone{
    font-size: 33px !important;
    }
    
    .menu-responsivo-texto{
        margin-top: 17px;
    }
}

@media only screen and (max-width: 577px) {
    .icone{
        display: none;
    }
}

#botao-menu{
    display: none;
    float: right;
    margin-top: 42px;
    color:$cor-padrao-cinza;
    cursor: pointer;
    transition: 1s;
}
#botao-menu:hover{
    color: $cor-cateno-azul;
}


/*      MENU HIDE    */

/* Ícone que fica escondido dentro do #menu-hide */
.icone{
    color: white;
    transition: color 1s;
    font-size: 50px;
    cursor: pointer;
}
/* Deixa o icone e o texto com uma cor diferente */
.icone:hover, .icone:hover + .menu-responsivo-texto  {
    color: #343a40;
}


.menu-responsivo-texto{
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    transition: color 1s;
    cursor: pointer;
}
.menu-responsivo-texto:hover{
    color: #343a40;
}
#menu-hide{
    position: fixed;
    z-index: 99999;
    background: transparent;
    height: 2px;
    transition: height 5s ease-out;
    margin-top: 80px;
}
#menus-responsivos{
    background: linear-gradient(217deg, rgb(163, 206, 34), #36acfa  60%);
}
#menus-responsividade{
    display: none;    
}
#alinhamento-menus{
    text-align: center;
    height: 100px;
}
.menu-info-claro{
    height: 100px;
    background: rgba(206, 205, 205, 0.815);
    cursor: pointer;
    transition: width 2s, height 2s, transform 2s;
}
.menu-info-escuro{
    height: 100px;
    background : rgb(206, 205, 205);
    cursor: pointer;
}

.square{
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 5px;
    margin-right: 4px;
}
.blue{
    background: #3498db;
}
.green{
    background:#1abc9c;
}
.purple{
    background: #9b59b6;
}
.orange{
    background: #e67e22;
}
.red{
    background: #e74c3c;
}
.yellow{
    background: #d9a81d;
}
#quem-somos:hover {
    background: linear-gradient(to right, rgba(206, 205, 205, 0.64) 50%, #097ac5 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1.0s ease-out;   
  }
  #quem-somos:hover{
    color: white;
}
#solucoes:hover {
    background: linear-gradient(to right, rgba(206, 205, 205, 0.64) 50%, #00b18d 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1.0s ease-out;   
  }
  #solucoes:hover{
    color: white;
}
#noticias:hover {
    background: linear-gradient(to right, rgba(206, 205, 205, 0.64) 50%, #8303b6 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1.0s ease-out;   
  }
  #noticias:hover{
    color: white;
}
#social:hover {
    background: linear-gradient(to right, rgba(206, 205, 205, 0.64) 50%, #e76c00 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1.0s ease-out;   
  }
  #social:hover{
    color: white;
}
#contato:hover {
    background: linear-gradient(to right, rgba(206, 205, 205, 0.64) 50%, #e71801 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1.0s ease-out;   
  }
  #contato:hover{
    color: white;
}
  a {
  text-decoration: none;
    color: #545454;
  }
#dropdown{
  font-size: 13.5px;
  position: absolute;
  width: 390px;
  height: 150px;
  float: left;
  margin-left: 50%;
  margin-right: auto;
  margin-top: 87px;
}
#navbar{
    transition: background 0.4s;
}