<div class="toolbar-container">
  <mat-toolbar>
    <mat-toolbar-row>
      <div id="logo-cateno">
        <img src="assets/logos/logo_cateno.png">
      </div>
      <div id="botao-menu">
        <i (click)="mostrarMenu()" class="fa fa-caret-square-o-down"></i>
      </div>
      <div id="menu">
        <ul>
          <li>
            <div class="menu-itens">Quem Somos</div>
          </li>
          <li>
            <div class="menu-itens">Soluções</div>
          </li>
          <li>
            <div class="menu-itens">Notícias</div>
          </li>
          <li>
            <div class="menu-itens">Social</div>
          </li>
          <li>
            <div class="menu-itens">Contato</div>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div id="menu-hide" class="col-md-12 col-sm-12">
  <div id="espacamento"></div>
  <div id="menus-responsividade">
    <div id="alinhamento-menus" class="row">
      <div class="col-md-1 col-sm-12">
      </div>
      <div id="menus-responsivos" class="col-md-2 col-sm-6 col-6">
        <div class="row">
          <div class="col-md-12 col-sm-3 icone">
            <i class="fa fa-info"></i>
          </div>
          <div class="col-md-12 col-sm-6 menu-responsivo-texto">
            <span>QUEM SOMOS</span>
          </div>
        </div>
      </div>
      <div id="menus-responsivos" class="col-md-2 col-sm-6 col-6">
        <div class="row">
          <div class="col-md-12 col-sm-3 icone">
            <i class="fa fa-tachometer"></i>
          </div>
          <div class="col-md-12 col-sm-6 menu-responsivo-texto">
            <span>SOLUÇÕES</span>
          </div>
        </div>
      </div>
      <div id="menus-responsivos" class="col-md-2 col-sm-6 col-6">
        <div class="row">
          <div class="col-md-12 col-sm-3 icone">
            <i class="fa fa-newspaper-o"></i>
          </div>
          <div class="col-md-12 col-sm-6 menu-responsivo-texto">
            <span>NOTÍCIAS</span>
          </div>
        </div>
      </div>
      <div id="menus-responsivos" class="col-md-2 col-sm-6 col-6">
        <div class="row">
          <div class="col-md-12 col-sm-3 icone">
            <i class="fa fa-users"></i>
          </div>
          <div class="col-md-12 col-sm-6 menu-responsivo-texto">
            <span>SOCIAL</span>
          </div>
        </div>
      </div>
      <div id="menus-responsivos" class="col-md-2 col-sm-12 col-sm-12">
        <div class="row">
          <div class="col-md-12 col-sm-3 icone">
            <i class="fa fa-mobile"></i>
          </div>
          <div class="col-md-12 col-sm-6 menu-responsivo-texto">
            <span>CONTATO</span>
          </div>
        </div>
      </div>
      <div class="col-md-1 col-sm-12">
      </div>
    </div>
  </div>
</div>