<div class="toolbar-container">
  <mat-toolbar>
    <mat-toolbar-row>
      <div (click)="router.navigate(['/home'])" id="logo-cateno">
        <img src="assets/logos/logo_cateno.png">
      </div>
      <div id="botao-menu">
        <i (click)="mostrarMenu()" class="fa fa-caret-square-o-down"></i>
      </div>
      <div id="menu">
        <ul>
          <li>
            <a routerLink="/quem-somos"><div class="menu-itens">Quem Somos</div></a>
          </li>
          <li>
            <div (mouseenter)="showDrop()" class="menu-itens">Soluções</div>
          </li>
          <li>
            <div class="menu-itens">Notícias</div>
          </li>
          <li>
            <a routerLink="/social"><div class="menu-itens">Social</div></a>
          </li>
          <li>
            <a routerLink="/contato"><div class="menu-itens">Contato</div></a>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
    <mat-card id="dropdown" (mouseleave)="this.drop = false;" *ngIf="drop">
      <a routerLink="/quem-somos">EMISSÃO DE MEIOS DE PAGAMENTO PRÉ-PAGOS</a><br>
      <a routerLink="/inteligencia-em-autorizacao-e-fraude/">INTELIGÊNCIA EM AUTORIZAÇÃO E FRAUDE</a><br>
      <a routerLink="/quem-somos">GESTÃO ESTRATÉGICA DE MEIOS DE PAGAMENTO</a><br>
    </mat-card>
  </mat-toolbar>
  <div id="menu-hide" class="col-md-12 col-sm-12">
    <div id="espacamento"></div>
    <div id="menus-responsividade">
      <div class="col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div id="quem-somos" class="menu-info-claro col-md-2 col-6">
            <div>
              <div id="first" class="square blue"></div>
              <strong>QUEM SOMOS</strong><br/>
              <small>REPOLHO</small>
            </div>
          </div>
          <div id="solucoes" class="menu-info-escuro col-md-2  col-6">
            <div>
              <div class="square green"></div>
              <strong>SOLUÇÕES</strong><br/>
              <small>REPOLHO</small>
            </div>
          </div>
          <div id="noticias" class="menu-info-claro col-md-2  col-6">
            <div>
              <div class="square purple"></div>
              <strong>NOTÍCIAS</strong><br/>
              <small>REPOLHO</small>
            </div>
          </div>
          <div id="social" class="menu-info-escuro col-md-2 col-6">
            <div>
              <div class="square red"></div>
              <strong>SOCIAL</strong><br/>
              <small>REPOLHO</small>
            </div>
          </div>
          <div id="contato" class="menu-info-claro col-md-2 col-sm-12">
            <div>
              <div class="square red"></div>
              <strong>CONTATO</strong><br/>
              <small>REPOLHO</small>
            </div>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </div>
  </div>
