<div><img id="header" src="assets/cateno-header.jpg"></div>
<div id="home" class="fadeInLeft col-md-12 row">
  <div class="imagens-cartao col-md-6 col-sm-12">
    <img id="img-1" src="assets/cartoes/cartao-azul.jpg">
  </div>
  <div class="col-md-6 col-sm-12">
    <div>
      <div id="titulo-cartao">
        <div class="quadrado blue"></div>Inovação financeira é a nossa marca, venha conheçer nossos meios de pagamento pré-pagos.
      </div>
      <div id="texto-cartao">Somos uma joint venture criada pelo Banco do Brasil e a Cielo para atuar gestão e criação de
        soluções de meios de pagamento. A Cateno conecta e analisa processos, dados e pessoas com a inteligência, o conhecimento
        e a segurança garantidos pela nossa equipe de especialistas e parceiros.</div>
      <div align="center"><button class="btn default" mat-raised-button>Ler mais</button></div>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <app-cartoes></app-cartoes>
</div>
<div>
  <app-solicitar-cartao></app-solicitar-cartao>
</div>