img{
    width: 100%;
    max-height: 500px;
}
#titulo-cartao{
    padding-top: 17%;
    font-size: 21px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#545454;
}
#texto-cartao{
    color:#545454;
    padding-top: 4%;
    font-size: 14px;
}
.blue{
    background: #3498db;
}
#home{
    padding-top: 6%;
}
#btn-saber-mais{
    background: linear-gradient(217deg, #3498db, #A4CE22 100%);
    color: white;
    font-weight: bold;
    padding: 13px 34px 14px;
    border-radius: 60px;
    transition: 0.5s;
    border: solid 1px white;
    cursor: pointer;
}
#btn-saber-mais:hover{
    background: linear-gradient(217deg, rgba(163, 206, 34, 0.801), #3498dbd0  60%);
}
#button-content{
    padding-top: 13px;
}


@media only screen and (max-width: 577px) {
    #home{
        padding-top: 22%;
    }
}